.DS_Store
/Manifest.toml
/dev/
/docs/build/
/docs/site/
/docs/Manifest.toml
.ipynb_checkpoints

/test/kernel
/test/shape/*.obj
/test/shape/*.jld2
/test/*.jld2

# Keep these shape models
!/test/shape/icosahedron.obj
!/test/shape/single_face.obj
!/test/shape/ryugu_test.obj
