.DS_Store
/Manifest.toml
/dev/
/docs/build/
/docs/site/
/docs/Manifest.toml
.ipynb_checkpoints

/test/kernel
/test/shape/*

/test/TPM_Ryugu/output
/test/TPM_non-uniform_thermoparams/output
/test/TPM_zero-conductivity/output
/test/TPM_Didymos/output

# Keep these shape models
!fractal_v2572_f5000.obj
!icosahedron.obj
!ryugu_test.obj
!single_face.obj
