.DS_Store
/Manifest.toml
/dev/
/docs/build/
/docs/site/
/docs/Manifest.toml
.ipynb_checkpoints

/test/kernel
/test/shape/*

# Keep these shape models
!icosahedron.obj
!single_face.obj
!ryugu_test.obj

/test/TPM_Ryugu/*
/test/non-uniform_thermoparams/*
/test/TPM_Didymos/*

# Keep these test files
!TPM_Ryugu.jl
!non-uniform_thermoparams.jl
!TPM_Didymos.jl
